
pbMashineSoft/pbMashine.pro.user
build-pbMashine-Desktop-Debug/viewwidget.o
build-pbMashine-Desktop-Debug/usbconnection.o
build-pbMashine-Desktop-Debug/ui_viewwidget.h
build-pbMashine-Desktop-Debug/ui_serialportsdialog.h
build-pbMashine-Desktop-Debug/ui_progressdialor.h
build-pbMashine-Desktop-Debug/ui_mainwindow.h
build-pbMashine-Desktop-Debug/ui_drillwidget.h
build-pbMashine-Desktop-Debug/ui_drawwidget.h
build-pbMashine-Desktop-Debug/ui_directmanagewidget.h
build-pbMashine-Desktop-Debug/serialportsdialog.o
build-pbMashine-Desktop-Debug/progressdialor.o
build-pbMashine-Desktop-Debug/pbMashine
build-pbMashine-Desktop-Debug/parsergcode.o
build-pbMashine-Desktop-Debug/pad.o
build-pbMashine-Desktop-Debug/moc_viewwidget.o
build-pbMashine-Desktop-Debug/moc_viewwidget.cpp
build-pbMashine-Desktop-Debug/moc_usbconnection.o
build-pbMashine-Desktop-Debug/moc_usbconnection.cpp
build-pbMashine-Desktop-Debug/moc_serialportsdialog.o
build-pbMashine-Desktop-Debug/moc_serialportsdialog.cpp
build-pbMashine-Desktop-Debug/moc_progressdialor.o
build-pbMashine-Desktop-Debug/moc_progressdialor.cpp
build-pbMashine-Desktop-Debug/moc_predefs.h
build-pbMashine-Desktop-Debug/moc_mashineObject.o
build-pbMashine-Desktop-Debug/moc_mashineObject.cpp
build-pbMashine-Desktop-Debug/moc_mainwindow.o
build-pbMashine-Desktop-Debug/moc_mainwindow.cpp
build-pbMashine-Desktop-Debug/moc_gpushbutton.o
build-pbMashine-Desktop-Debug/moc_gpushbutton.cpp
build-pbMashine-Desktop-Debug/moc_gframe.o
build-pbMashine-Desktop-Debug/moc_gframe.cpp
build-pbMashine-Desktop-Debug/moc_gerberconverter.o
build-pbMashine-Desktop-Debug/moc_gerberconverter.cpp
build-pbMashine-Desktop-Debug/moc_gcodeeditwidget.o
build-pbMashine-Desktop-Debug/moc_gcodeeditwidget.cpp
build-pbMashine-Desktop-Debug/moc_drillwidget.o
build-pbMashine-Desktop-Debug/moc_drillwidget.cpp
build-pbMashine-Desktop-Debug/moc_drawwidget.o
build-pbMashine-Desktop-Debug/moc_drawwidget.cpp
build-pbMashine-Desktop-Debug/moc_directmanagewidget.o
build-pbMashine-Desktop-Debug/moc_directmanagewidget.cpp
build-pbMashine-Desktop-Debug/mashineobject.o
build-pbMashine-Desktop-Debug/Makefile
build-pbMashine-Desktop-Debug/mainwindow.o
build-pbMashine-Desktop-Debug/main.o
build-pbMashine-Desktop-Debug/gpushbutton.o
build-pbMashine-Desktop-Debug/gpath.o
build-pbMashine-Desktop-Debug/gframe.o
build-pbMashine-Desktop-Debug/gerberconverter.o
build-pbMashine-Desktop-Debug/gcodeeditwidget.o
build-pbMashine-Desktop-Debug/errorclass.o
build-pbMashine-Desktop-Debug/drillwidget.o
build-pbMashine-Desktop-Debug/drillconverter.o
build-pbMashine-Desktop-Debug/drawwidget.o
build-pbMashine-Desktop-Debug/drawcommand.o
build-pbMashine-Desktop-Debug/directmanagewidget.o
build-pbMashine-Desktop-Debug/consoletextwidget.o
build-pbMashine-Desktop-Debug/connectionindicator.o
build-pbMashine-Desktop-Debug/config.cfg
build-pbMashine-Desktop-Debug/apperture.o
build-pbMashine-Desktop-Debug/.qmake.stash
/pbMashineSoft/*.autosave
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/.qmake.stash
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile.Debug
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/Makefile.Release
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/apperture.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/config.cfg
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/connectionindicator.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/consoletextwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/directmanagewidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/drawcommand.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/drawwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/drillconverter.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/drillwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/errorclass.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/gcodeeditwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/gerberconverter.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/gframe.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/gpath.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/gpushbutton.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/main.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/mainwindow.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/mashineobject.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_directmanagewidget.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_directmanagewidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_drawwidget.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_drawwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_drillwidget.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_drillwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gcodeeditwidget.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gcodeeditwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gerberconverter.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gerberconverter.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gframe.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gframe.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gpushbutton.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_gpushbutton.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mashineobject.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_mashineobject.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_predefs.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_progressdialor.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_progressdialor.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_serialportsdialog.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_serialportsdialog.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_usbconnection.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_usbconnection.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_viewwidget.cpp
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/moc_viewwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/pad.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/parsergcode.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/pbMashine.exe
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/progressdialor.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/serialportsdialog.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/usbconnection.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/viewwidget.o
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/object_script.pbMashine.Debug
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/object_script.pbMashine.Release
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_directmanagewidget.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_drawwidget.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_drillwidget.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_mainwindow.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_progressdialor.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_serialportsdialog.h
/build-pbMashine-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/ui_viewwidget.h
/pbMashineSoft/.qmake.stash
/pbMashineSoft/Debug/Makefile
/pbMashineSoft/Debug/Stanok
/pbMashineSoft/Debug/apperture.o
/pbMashineSoft/Debug/connectionindicator.o
/pbMashineSoft/Debug/consoletextwidget.o
/pbMashineSoft/Debug/directmanagewidget.o
/pbMashineSoft/Debug/drawcommand.o
/pbMashineSoft/Debug/drawwidget.o
/pbMashineSoft/Debug/drillconverter.o
/pbMashineSoft/Debug/drillwidget.o
/pbMashineSoft/Debug/errorclass.o
/pbMashineSoft/Debug/gcodeeditwidget.o
/pbMashineSoft/Debug/gerberconverter.o
/pbMashineSoft/Debug/gframe.o
/pbMashineSoft/Debug/gpath.o
/pbMashineSoft/Debug/gpushbutton.o
/pbMashineSoft/Debug/main.o
/pbMashineSoft/Debug/mainwindow.o
/pbMashineSoft/Debug/moc_directmanagewidget.cpp
/pbMashineSoft/Debug/moc_directmanagewidget.o
/pbMashineSoft/Debug/moc_drawwidget.cpp
/pbMashineSoft/Debug/moc_drawwidget.o
/pbMashineSoft/Debug/moc_drillwidget.cpp
/pbMashineSoft/Debug/moc_drillwidget.o
/pbMashineSoft/Debug/moc_gcodeeditwidget.cpp
/pbMashineSoft/Debug/moc_gcodeeditwidget.o
/pbMashineSoft/Debug/moc_gerberconverter.cpp
/pbMashineSoft/Debug/moc_gerberconverter.o
/pbMashineSoft/Debug/moc_gframe.cpp
/pbMashineSoft/Debug/moc_gframe.o
/pbMashineSoft/Debug/moc_gpushbutton.cpp
/pbMashineSoft/Debug/moc_gpushbutton.o
/pbMashineSoft/Debug/moc_mainwindow.cpp
/pbMashineSoft/Debug/moc_mainwindow.o
/pbMashineSoft/Debug/moc_predefs.h
/pbMashineSoft/Debug/moc_progressdialor.cpp
/pbMashineSoft/Debug/moc_progressdialor.o
/pbMashineSoft/Debug/moc_serialportsdialog.cpp
/pbMashineSoft/Debug/moc_serialportsdialog.o
/pbMashineSoft/Debug/moc_stanokobject.cpp
/pbMashineSoft/Debug/moc_stanokobject.o
/pbMashineSoft/Debug/moc_usbconnection.cpp
/pbMashineSoft/Debug/moc_usbconnection.o
/pbMashineSoft/Debug/moc_viewwidget.cpp
/pbMashineSoft/Debug/moc_viewwidget.o
/pbMashineSoft/Debug/pad.o
/pbMashineSoft/Debug/parsergcode.o
/pbMashineSoft/Debug/progressdialor.o
/pbMashineSoft/Debug/serialportsdialog.o
/pbMashineSoft/Debug/stanokobject.o
/pbMashineSoft/Debug/ui_directmanagewidget.h
/pbMashineSoft/Debug/ui_drawwidget.h
/pbMashineSoft/Debug/ui_drillwidget.h
/pbMashineSoft/Debug/ui_mainwindow.h
/pbMashineSoft/Debug/ui_progressdialor.h
/pbMashineSoft/Debug/ui_serialportsdialog.h
/pbMashineSoft/Debug/ui_viewwidget.h
/pbMashineSoft/Debug/usbconnection.o
/pbMashineSoft/Debug/viewwidget.o
/pbMashineSoft/Makefile
/pbMashineSoft/apperture.o
/pbMashineSoft/connectionindicator.o
/pbMashineSoft/consoletextwidget.o
/pbMashineSoft/directmanagewidget.o
/pbMashineSoft/drawcommand.o
/pbMashineSoft/drawwidget.o
/pbMashineSoft/drillconverter.o
/pbMashineSoft/drillwidget.o
/pbMashineSoft/errorclass.o
/pbMashineSoft/gcodeeditwidget.o
/pbMashineSoft/gerberconverter.o
/pbMashineSoft/gframe.o
/pbMashineSoft/gpath.o
/pbMashineSoft/gpushbutton.o
/pbMashineSoft/main.o
/pbMashineSoft/mainwindow.o
/pbMashineSoft/moc_directmanagewidget.o
/pbMashineSoft/moc_drawwidget.o
/pbMashineSoft/moc_drillwidget.o
/pbMashineSoft/moc_gcodeeditwidget.o
/pbMashineSoft/moc_gerberconverter.o
/pbMashineSoft/moc_gframe.o
/pbMashineSoft/moc_gpushbutton.o
/pbMashineSoft/moc_mainwindow.o
/pbMashineSoft/moc_predefs.h
/pbMashineSoft/moc_progressdialor.o
/pbMashineSoft/moc_serialportsdialog.o
/pbMashineSoft/moc_stanokobject.o
/pbMashineSoft/moc_usbconnection.o
/pbMashineSoft/moc_viewwidget.o
/pbMashineSoft/pad.o
/pbMashineSoft/parsergcode.o
/pbMashineSoft/progressdialor.o
/pbMashineSoft/serialportsdialog.o
/pbMashineSoft/usbconnection.o
/pbMashineSoft/viewwidget.o
/testBoard/testBoardRectPad/testBoardRectPad/testBoardRectPad.kicad_pcb-bak
